asgiref==3.7.2
cfgv==3.4.0
distlib==0.3.7
Django==4.2.5
django-phonenumber-field==7.1.0
django-phonenumbers==1.0.1
filelock==3.12.3
identify==2.5.27
nodeenv==1.8.0
phonenumbers==8.13.20
platformdirs==3.10.0
pre-commit==3.4.0
psycopg2==2.9.7
python-dotenv==1.0.0
PyYAML==6.0.1
sqlparse==0.4.4
typing_extensions==4.7.1
tzdata==2023.3
virtualenv==20.24.5
